<div class="bg-primary flex justify-center py-4 text-white">
  <a href="/collections/all" class="flex items-center gap-4 uppercase hover:gap-6 transition-all duration-300">
    Shop our Huge Line of UTV Parts! <i class="fa-solid fa-arrow-right-long"></i
  ></a>
</div>
