<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>UTV Parts</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Exit_Shocks"
          >
            EXIT Shocks
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_A_Arms"
          >
            A-arms
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Radius_Rods"
          >
            Radius Rods
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Tie_Rods"
          >
            Tie Rods
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Trailing_Arms"
          >
            Trailing Arms
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Sway_Bar"
          >
            Sway Bar
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Springs"
          >
            Spring Kits
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_UTV_Coil_Springs"
          >
            UTV Coil Springs
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Accessories"
          >
            Accessories
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Lift_Kits"
          >
            Lift Kits
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Harness"
          >
            Harness
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Winches"
          >
            Winches
          </button>
        </li>
        <li>
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_Ball_Joints"
          >
            UTV Ball Joints
          </button>
        </li>
        <li class="pt-2">
          <button
            class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
            data-part="part_UTV_Bumpers"
          >
            UTV Bumpers
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-white p-4 mt-5">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>UTV Vehicles</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <div>
        <p class="font-medium">Polaris</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Polaris-UTV_RZR"
            >
              RZR
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Polaris-UTV_Ranger"
            >
              Ranger
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Polaris-UTV_General"
            >
              General
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Polaris-UTV_Xpedition"
            >
              Xpedition
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Can-Am</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_CanAm_Maverick"
            >
              Maverick
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_CanAm_Defender"
            >
              Defender
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_CanAm_Commander"
            >
              Commander
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Honda</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Honda_Talon"
            >
              Talon
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Honda_Pioneer"
            >
              Pioneer
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Kawasaki</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Kawasaki_KRX1000"
            >
              KRX 1000
            </button>
          </li>
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Kawasaki_KRX41000"
            >
              KRX 4 1000
            </button>
          </li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Yamaha</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li>
            <button
              class="filter-button py-2 p-1 cursor-pointer w-full transition-all duration-300 ease-in-out flex hover:bg-gray-200"
              data-part="fitment_Yamaha_YXZ"
            >
              YXZ
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button class="filter-button cursor-pointer p-4" data-part="">All Parts</button>
</div>
