<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>Snowbike Parts</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_EXIT-Shocks">EXIT Shocks</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_A-arms">A-arms</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_T-Motion-Lockout">T-Motion Lockout</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Rail-Brace">Rail Brace</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Kiss-Coupler">Kiss Coupler</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Spring-Kits">Spring Kits</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Ball-Joints">Ball Joints</button></li>
        <li class="pt-2"><button class="filter-button cursor-pointer" data-part="part_Bumpers">Bumpers</button></li>
      </ul>
    </div>
  </div>
  <div class="bg-white p-4 mt-5">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>Snowbike Vehicles</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <div>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Timbersled">Timbersled</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_CAMSO">CAMSO</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Fit-Kits">Fit Kits</button></li>
        </ul>
      </div>
    </div>
  </div>

  <button class="filter-button cursor-pointer p-4" data-part="">All Parts</button>
</div>
