<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>UTV Parts</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_EXIT-Shocks">EXIT Shocks</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_A-arms">A-arms</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Radius-Rods">Radius Rods</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Tie-Rods">Tie Rods</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Trailing-Arms">Trailing Arms</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Sway-Bar">Sway Bar</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Spring-Kits">Spring Kits</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_UTV-Coil-Springs">UTV Coil Springs</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Accessories">Accessories</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Lift-Kits">Lift Kits</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Harness">Harness</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Winches">Winches</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_UTV-Ball-Joints">UTV Ball Joints</button></li>
        <li class="pt-2"><button class="filter-button cursor-pointer" data-part="part_UTV-Bumpers">UTV Bumpers</button></li>
      </ul>
    </div>
  </div>
  <div class="bg-white p-4 mt-5">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>UTV Vehicles</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <div>
        <p class="font-medium">Polaris</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_RZR">RZR</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_Ranger">Ranger</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_General">General</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_Expedition">Expedition</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Can-Am</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_CanAm_Maverick">Maverick</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_CanAm_Defender">Defender</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_CanAm_Commander">Commander</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Honda</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Honda_Talon">Talon</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Honda_Pioneer">Pioneer</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Kawasaki</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Kawasaki_KRX1000">KRX 1000</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Kawasaki_KRX41000">KRX 4 1000</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Yamaha</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="pt-2"><button class="filter-button cursor-pointer" data-part="fitment_Yamaha_YXZ">YXZ</button></li>
        </ul>
      </div>
    </div>
  </div>

  <button class="filter-button cursor-pointer p-4" data-part="">All Parts</button>
</div>
