<div>
  <div class="bg-white p-4">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>Snowmobile Parts</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4">
      <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_EXIT-Shocks">EXIT Shocks</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_A-arms">A-arms</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_T-Motion-Lockout">T-Motion Lockout</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Rail-Brace">Rail Brace</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Kiss-Coupler">Kiss Coupler</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Spring-Kits">Spring Kits</button></li>
        <li class="py-2"><button class="filter-button cursor-pointer" data-part="part_Ball-Joints">Ball Joints</button></li>
        <li class="pt-2"><button class="filter-button cursor-pointer" data-part="part_Bumpers">Bumpers</button></li>
      </ul>
    </div>
  </div>
  <div class="bg-white p-4 mt-5">
    <div class="flex items-center justify-between text-xl font-medium">
      <p>Snowmobile Vehicles</p>
      <i class="fa-regular fa-dash"></i>
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <div>
        <p class="font-medium">Polaris</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Polaris_RMK_AXYS_2016_2018">RMK AXYS 2016-2018</button>
          </li>
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Polaris_RMK_AXYS_2019_2022">RMK AXYS 2019-2022</button>
          </li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_KHAOS_AXYS">KHAOS AXYS</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_KHAOS_MATRYX">KHAOS MATRYX</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_RMK_MATRYX">RMK MATRYX</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_Trail">Polaris Trail</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Polaris_Snowmobiles">Snowmobiles</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Ski-Doo</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Ski-Doo_Gen4">Gen 4</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Ski-Doo_Gen5">Gen 5</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Ski-Doo_Renegade">Renegade</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Ski-Doo_MXZ">MXZ</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Lynx</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Lynx_Boondocker">Boondocker</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Lynx_Shredder">Shredder</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Artic Cat</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_Mountain_Cat_Alpha">Hardcore Alpha</button>
          </li>
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_Mountain_Cat_Alpha">Hardcore Alpha Dual Rail</button>
          </li>
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_Mountain_Cat_Alpha">Mountain Cat Alpha</button>
          </li>
          <li class="py-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_Mountain_Cat_Dual_Rail">
              Mountain Cat Dual Rail
            </button>
          </li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_ProClimb">ProClimb</button></li>
          <li class="py-2"><button class="filter-button cursor-pointer" data-part="fitment_Arctic_Cat_Blast_M">Blast M</button></li>
        </ul>
      </div>
      <div>
        <p class="font-medium">Yamaha</p>
        <ul class="flex flex-col divide-y divide-gray-200 text-sm text-black/70">
          <li class="pt-2"><button class="filter-button cursor-pointer" data-part="fitment_Yamaha_Mountain_Max">Mountain Max</button></li>
          <li class="pt-2">
            <button class="filter-button cursor-pointer" data-part="fitment_Yamaha_SXVenom_Mountain">SXVenom Mountain</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button class="filter-button cursor-pointer p-4" data-part="">All Parts</button>
</div>
