<div
  class="bg-center bg-cover aspect-[16/9] md:aspect-[24/9] relative"
  style="background-image: url('{{ 'about-cta.jpg' | asset_url }}');"
>
  <div class="absolute inset-0 bg-black opacity-80"></div>
  <div class="container h-full">
    <div class="relative z-10 flex gap-4 flex-col items-center justify-center h-full text-center  text-white">
      <p class="font-bold text-3xl md:text-[68px] uppercase tracking-tighter">Ride What The Pros Trust</p>
      <p class="max-w-xl md:text-lg text-white/70">
        Explore the Zbroz difference and experience race-proven suspension on your own machine.
      </p>
      <a href="/collections/suspension" class="md:mt-8 bg-primary text-white py-4 px-6 uppercase md:text-base text-sm">Find My Parts</a>
    </div>
  </div>
</div>
