<div class="md:py-20 py-10 bg-black text-white">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-10">
      <div class="max-w-xl">
        <h3 class="font-bold text-4xl md:text-5xl lg:text-6xl uppercase">Driven by Passion. Backed by Performance.</h3>
      </div>
      <div class="flex flex-col gap-4 text-sm md:text-base lg:text-lg">
        <p>
          At Zbroz, our mission is clear: engineer suspension systems that perform when it matters most. We build every product with
          firsthand experience, obsessive attention to detail, and an uncompromising demand for durability.
        </p>
        <p>Whether you're carving mountain powder, crawling desert rock, or lining up on the start line—we're right there with you.</p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10 ">
      <img src="{{ 'driven-by-passion1.png' | asset_url }}" alt="Driven by Passion" class="object-cover w-full h-[300px] md:h-[500px] ">
      <img src="{{ 'driven-by-passion2.jpg' | asset_url }}" alt="Driven by Passion" class="object-cover w-full h-[300px]  md:h-[500px]">
      <img
        src="{{ 'driven-by-passion3.jpg' | asset_url }}"
        alt="Driven by Passion"
        class="object-cover w-full h-[300px]  md:h-[500px] md:col-span-2 lg:col-span-1"
      >
    </div>
  </div>
</div>
