<div>
  <div
    class="bg-center bg-cover bg-no-repeat aspect-[9/9] md:aspect-[16/9] relative"
    style="background-image: url('{{ 'about-hero.png' | asset_url }}');"
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container h-full">
      <div class="relative z-10 flex flex-col items-center justify-center h-full text-center py-40">
        <p class="text-white uppercase md:text-2xl font-semibold">About Us</p>
        <h1 class="font-pure-heart text-7xl md:text-[200px] text-white md:leading-40">
          Racer-Built <br>
          Racer-Proven
        </h1>
      </div>
    </div>
  </div>
  <div class="bg-background text-center md:py-40 py-10 flex justify-center">
    <div class="container">
      <p class="max-w-7xl text-sm md:text-2xl font-medium md:px-10 md:leading-relaxed">
        Zbroz Racing was founded by four brothers—Lance, Ryan, Anthony, and Nathan Zollinger—with one shared obsession: winning. What began
        as a race team in 1998 quickly evolved into a suspension revolution for snowmobiles, UTVs, and ATVs. Competing in the RMSHA circuit,
        they chased domination in modified snowmobile classes—and discovered that raw speed was nothing without control.
      </p>
    </div>
  </div>
</div>
