<div class="md:py-20 py-10">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-10">
      <div class="md:h-[575px] h-[400px] relative">
        <img src="{{ 'brothers.jpg' | asset_url }}" alt="Brothers" class="w-full h-full object-cover">
      </div>
      <div class="flex flex-col justify-between gap-5 md:gap-10">
        <div>
          <h2 class="lg:text-5xl text-4xl max-w-lg uppercase font-bold">Built by Brothers. Forged in Competition.</h2>
          <p class="mt-4 md:mt-10 text-black/70 lg:text-base text-sm">
            By 1999, frustration with existing suspension systems led us down a new path. We began tuning, testing, and designing our own
            components to unlock our machines' full potential. This hands-on development led to the birth of EXIT Shocks—our proprietary
            shock brand—and a new standard in aftermarket suspension. Today with the Zollinger brothers, Nathan, Ryan, Anthonly and Lance
            directing the path of Zbroz and the Exit shock brand you can be assued they are striving for that uncompromising standard for
            you too.
          </p>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="bg-background border-t border-primary p-4 flex flex-col justify-center gap-5">
            <p class="font-pure-heart text-7xl lg:text-8xl -mt-6">6X</p>
            <p>World King Titles</p>
          </div>
          <div class="bg-background border-t border-primary p-4 flex flex-col justify-center gap-5">
            <p class="font-pure-heart text-7xl lg:text-8xl -mt-6">19X</p>
            <p>World Championships</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
