<div class="md:py-20 py-10 bg-black text-white">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-10">
      <div class="max-w-xl"><h3 class="font-bold text-4xl md:text-5xl lg:text-6xl uppercase">Built for Riders, by Racers</h3></div>
      <div class="flex flex-col gap-4 text-sm md:text-base lg:text-lg">
        <p>
          We don't just design parts—we push them to their limits. Every Zbroz product is conceived, tested, and refined by people who live
          and breathe the ride. From snow-packed mountains to desert trails, our components are battle-tested in real-world conditions by
          professional athletes, weekend warriors, and everyone in between.
        </p>
        <p>
          When you buy Zbroz, you're not just buying parts. You're investing in a legacy of performance, precision, and trust—engineered by
          racers who know exactly what your machine needs to conquer any terrain.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
      <img src="{{ 'built-for-racers1.jpg' | asset_url }}" alt="Built for Racers" class="object-cover w-full h-full lg:col-span-2">
      <img src="{{ 'built-for-racers2.png' | asset_url }}" alt="Built for Racers" class="object-cover w-full h-full">
    </div>
  </div>
</div>
