<div class="md:py-20 py-10">
  <div class="container">
    <h2 class="font-bold text-4xl md:text-[68px] text-center uppercase">Built for Extremes</h2>
    <div class="h-[375px] md:h-[600px] w-full mt-4 md:mt-10">
      <img src="{{ 'for-extremes.jpg' | asset_url }}" alt="UTV" class="object-cover w-full h-full">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6 md:mt-10">
      <div class="bg-black text-white px-4 py-6 flex flex-col justify-between h-[225px] md:h-[280px] shadow">
        <i class="fa-solid fa-trophy text-3xl md:text-4xl"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">World Champion Tested</h3>
          <p class=" text-white/70">Zbroz parts lead the pack where it matters most: in the winner's circle.</p>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[225px] md:h-[280px] border-t border-primary shadow">
        <i class="fa-regular fa-web-awesome text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">RACE Proven</h3>
          <p class=" text-black/70">Trusted by medal-winning athletes in the most demanding snow and dirt races on earth.</p>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[225px] md:h-[280px] border-t border-primary shadow">
        <i class="fa-regular fa-party-horn text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">Performance Under Pressure</h3>
          <p class=" text-black/70">Engineered to maintain control, and confidence when the stakes are high.</p>
        </div>
      </div>
    </div>
  </div>
</div>
