<div class="md:py-40 py-20 bg-center bg-cover bg-no-repeat" style="background-image: url('{{ 'socials-bg.png' | asset_url }}');">
  <div class="container">
    <div class="flex flex-col items-center text-center">
      <h3 class="uppercase font-bold text-4xl md:text-[68px]">Keep up With Us</h3>
      <div class="flex gap-3 mt-4 md:mt-10">
        <a href="https://www.facebook.com/ZbrozRacing/" target="_blank" class=" text-primary text-xl "
          ><i class="fa-brands fa-facebook bg-white/50 shadow p-2 rounded-md"></i
        ></a>
        <a href="https://www.instagram.com/zbroz_racing" target="_blank" class=" text-primary text-xl "
          ><i class="fa-brands fa-square-instagram bg-white/50 shadow p-2 rounded-md"></i
        ></a>
        <a href="https://x.com/zbroz_racing" target="_blank" class=" text-primary text-xl "
          ><i class="fa-brands fa-x-twitter bg-white/50 shadow p-2 rounded-md"></i
        ></a>
        <a href="https://www.youtube.com/user/EXITshocks" target="_blank" class=" text-primary text-xl "
          ><i class="fa-brands fa-youtube bg-white/50 shadow p-2 rounded-md"></i
        ></a>
      </div>
    </div>
    <div class="mt-10 md:mt-20">
      <div id="insta-feed"></div>
    </div>
  </div>
</div>
