<div class="bg-center bg-cover bg-no-repeat h-screen relative" style="background-image: url('{{ 'hero.webp' | asset_url }}');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container h-full">
    <div class="relative z-10 flex flex-col items-center justify-around h-full text-center py-40">
      <h1 class="font-pure-heart text-7xl md:text-[200px] text-white md:leading-40">
        Conquer Your <br>
        Terrain
      </h1>
      <p class="text-white mt-4 uppercase">From Dirt To Snow</p>
      <div class="mt-10">
        <a
          href="/collections/all"
          class="bg-primary text-white px-6 py-3 uppercase hover:bg-primary/70 transition duration-300"
        >
          Find My Parts
        </a>
      </div>
    </div>
  </div>
</div>
