<div class="md:py-20 py-10">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-0 gap-10">
      <div class="md:pr-10">
        <p class="text-primary md:text-xl font-medium uppercase">Keep your suspension running smooth</p>
        <h2 class="text-2xl md:text-4xl uppercase font-bold mt-4">Performance Shock Maintenance</h2>
        <p class="md:text-xl mt-4 md:mt-10">
          Our shocks work hard, routine maintenance keeps them performing at their best. We recommend servicing all of your shocks,
          including our custom built Exit shocks every 2,500 miles on UTVs and 1,500 miles on snowmobiles to extend lifespan and ensure
          top-tier performance.
        </p>
        <p class="text-xs text-black/70 mt-5">
          *these intervals may be shorter depending on terrain, race conditions, hours ridden, etc. feel free to reach out to the ZBroz team
          for information specific to your riding style.
        </p>
        <div class="md:text-xl text-lg mt-4 md:mt-10">
          <p class="font-medium">What's Included:</p>
          <ul class="list-disc pl-5 text-sm md:text-lg">
            <li>Inspection and cleaning of all shock components</li>
            <li>Replacing seals, oil, o-rings and other wearable items</li>
            <li>Full reassembly and dyno test for quality control</li>
          </ul>
        </div>
      </div>
      <div class="md:pl-16 md:border-l border-t md:border-t-0 pt-10 md:pt-0 border-black/10">
        <p class="text-primary md:text-xl font-medium uppercase">Stage 3-level performance, personalized for you</p>
        <h2 class="text-2xl md:text-4xl uppercase font-bold mt-4 lg:pr-40">Factory Shock Tuning</h2>
        <p class="md:text-xl mt-4 md:mt-10">
          This isn't just service, it's a transformation. Our Factory Shock Tuning replicates the benefits of Exit shocks in your OEM shocks
          by upgrading every internal component with precision-calibrated, high-performance parts.
        </p>

        <div class="md:text-xl text-lg mt-4 md:mt-10">
          <p class="font-medium">What's Included:</p>
          <ul class="list-disc pl-5 text-sm md:text-lg">
            <li>Revalved internals tailored to your riding style and terrain</li>
            <li>Premium synthetic oil and low-friction seals</li>
            <li>Expert calibration for smoother travel, sharper response, and unmatched consistency</li>
            <li>Vehicle-specific Stage 1 Spring Kit (sold as a package with this service)</li>
          </ul>
          <p class="text-sm md:text-base font-medium">
            Together, these upgrades create the ultimate suspension system, designed for maximum performance and quality.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-10 md:mt-20">
      <a
        href="/pages/contact"
        class="items-center md:text-base text-sm gap-4 uppercase hover:gap-6 transition-all duration-300 bg-primary flex justify-center py-4 text-white "
      >
        Ready To Schedule <i class="fa-solid fa-arrow-right-long"></i
      ></a>
    </div>
    <div class="flex justify-center mt-4 md:mt-10">
      <p class="text-center md:text-base text-sm text-black/70">
        If no dealers are in your area please call us at <a href="tel:+14357537774">435-753-7774</a>
      </p>
    </div>
  </div>
</div>
