<div class="md:py-20 py-10">
  <div class="container">
    <h2 class="font-bold text-4xl md:text-[68px] text-center uppercase">Key Benefits</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-6 md:mt-10">
      <div class="bg-black text-white px-4 py-6 flex flex-col justify-between h-[180px] md:h-[216px] shadow">
        <i class="fa-solid fa-sliders-up text-3xl md:text-4xl"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">Optimized Valving & Internal Parts</h3>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[180px] md:h-[216px] border-t border-primary shadow">
        <i class="fa-regular fa-temperature-low text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">High-Temperature Seal Kit</h3>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[180px] md:h-[216px] border-t border-primary shadow">
        <i class="fa-regular fa-flag-usa text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">Proudly Made in the USA</h3>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[180px] md:h-[216px] border-t border-primary shadow">
        <i class="fa-regular fa-square-check text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">Comprehensive OEM Inspection & Service</h3>
        </div>
      </div>
      <div class=" bg-background px-4 py-6 flex flex-col justify-between h-[180px] md:h-[216px] border-t border-primary shadow">
        <i class="fa-regular fa-wrench text-3xl md:text-4xl text-primary"></i>
        <div class="flex flex-col gap-4">
          <h3 class="text-xl md:text-2xl font-bold uppercase">Installation by Certified Shock Technicians</h3>
        </div>
      </div>
    </div>
  </div>
</div>
