<div class="md:py-20 py-10">
  <div class="container">
    <h2 class="font-bold text-4xl md:text-[68px] text-center uppercase">Vehicle Applications</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-6 md:mt-20">
      <div>
        <p class="font-medium text-lg md:text-xl mb-6">Our State 3 Tune supports a wide range of models:</p>
        <div class="border border-black/10  flex justify-between items-center pr-2">
          <p class="p-3">Search Vehicle</p>
          <div class="bg-primary text-white flex justify-center items-center text-xl p-2">
            <i class="fa-regular fa-magnifying-glass"></i>
          </div>
        </div>
        <div class="mt-4 flex flex-col gap-2">
          <div class="border border-black/10 px-3 py-4">
            <p class="font-medium md:text-xl">Polaris RZR XP 1000/Turbo & XP 4 (2014-2023)</p>
            <p class="text-black/70 md:text-base text-sm">Walker Evans & FOX IBP Shocks</p>
          </div>
          <div class="border border-black/10 px-3 py-4">
            <p class="font-medium md:text-xl">Polaris RZR XP 1000/Turbo & XP 4 (2014-2023)</p>
            <p class="text-black/70 md:text-base text-sm">Walker Evans & FOX IBP Shocks</p>
          </div>
          <div class="border border-black/10 px-3 py-4">
            <p class="font-medium md:text-xl">Polaris RZR XP 1000/Turbo & XP 4 (2014-2023)</p>
            <p class="text-black/70 md:text-base text-sm">Walker Evans & FOX IBP Shocks</p>
          </div>
          <div class="border border-black/10 px-3 py-4">
            <p class="font-medium md:text-xl">Polaris RZR XP 1000/Turbo & XP 4 (2014-2023)</p>
            <p class="text-black/70 md:text-base text-sm">Walker Evans & FOX IBP Shocks</p>
          </div>
          <div class="border border-black/10 px-3 py-4">
            <p class="font-medium md:text-xl">Polaris RZR XP 1000/Turbo & XP 4 (2014-2023)</p>
            <p class="text-black/70 md:text-base text-sm">Walker Evans & FOX IBP Shocks</p>
          </div>
        </div>
      </div>
      <div class="h-[300px]md:h-[618px] w-full">
        <img src="{{ 'vehicle-applications.jpg' | asset_url }}" alt="Vehicle Applications" class="w-full h-full object-cover">
      </div>
    </div>
  </div>
</div>
