<div>
  <div
    class="bg-center bg-cover bg-no-repeat aspect-[12/9] md:aspect-[20/9] relative"
    style="background-image: url('{{ 'shock-service-hero.png' | asset_url }}');"
  >
    <div class="absolute inset-0 bg-black opacity-25"></div>
    <div class="container h-full">
      <div class="relative z-10 flex flex-col items-center justify-center h-full text-center py-40">
        <h1 class="font-pure-heart text-7xl md:text-[200px] text-white md:leading-40">Shock Service</h1>
      </div>
    </div>
  </div>
</div>
