@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #d92127;
  --color-background: #f4f4f4;
  --font-pure-heart: "PureHeart", sans-serif;
  --font-ibm: "IBM Plex Sans", sans-serif;
}

@layer base {
  body {
    @apply font-ibm bg-white;
  }
  h1 {
    @apply font-pure-heart;
  }
}

.container {
  @apply mx-auto max-w-7xl px-4;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#mobile-slideout {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

#mobile-slideout::-webkit-scrollbar {
  display: none; /* Chrome, Safari, etc. */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[x-cloak] {
  display: none !important;
}

.prose h1 {
  @apply my-0 mt-10 text-2xl font-bold md:text-4xl;
}

.prose h2 {
  @apply my-4 mt-10 text-xl font-bold md:text-3xl;
}

.prose h3 {
  @apply my-2 text-lg font-bold md:text-2xl;
}

.prose h4 {
  @apply my-0 mt-0 text-base leading-8 font-bold md:text-xl;
}

.prose li p {
  @apply my-0;
}

.prose blockquote {
  @apply my-4 border-l-2 border-black pl-4 md:w-[60%];
  quotes: none;
}

.prose blockquote p {
  @apply text-xl;
}

.prose a {
  @apply text-primary hover:text-primary/80;
}

.shopify-policy__container {
  @apply max-w-5xl pt-32 pb-10 md:pt-50 md:pb-20;
}

.shopify-policy__title h1 {
  @apply mb-4 text-3xl font-bold text-[#1A1A1A] sm:mb-10 lg:text-5xl;
}
