{% layout 'theme' %}

<div>
  <div
    class="bg-center bg-cover bg-no-repeat aspect-[12/9] md:aspect-[16/9] relative"
    style="background-image: url('{{ article.image | img_url: 'grande' }}');"
  >
    <div class="absolute inset-0 bg-black opacity-50 z-0"></div>
    <div class="container h-full text-white">
      <div class="relative z-10 flex flex-col items-center justify-center h-full text-center py-40">
        <p class="text-sm md:text-base">BLOG</p>
        <h1 class="text-4xl md:text-9xl">{{ article.title }}</h1>
      </div>
    </div>
  </div>
  <div class="bg-background">
    <div class="container py-10 md:py-20 text-center">
      <div class="max-w-6xl mx-auto font-medium text-sm md:text-2xl">
        <p>{{ article.excerpt }}</p>
      </div>
    </div>
  </div>
  <div class="container pb-10 md:pb-20">
    <div class="prose max-w-none text-black">
      {{ article.content }}
    </div>
  </div>
</div>
