<div>
  {% section 'about-hero' %}
  {% section 'about-built-by-brothers' %}
  {% render 'banner' %}
  {% section 'about-driven-by-passion' %}
  {% section 'about-everything-under' %}
  {% section 'about-cta' %}
</div>
