<div>
  <div class="container pt-40">
    <div class="flex justify-between xl:flex-row items-center flex-col gap-10">
      <h1 class="text-8xl md:text-[150px] -mt-24">Contact Us</h1>
      <div class="flex flex-col gap-4 md:gap-10 md:text-base text-sm">
        <p class="lg:max-w-lg">
          Contact Zbroz Racing for more information or questions about our High Performance Suspension Products. With over 20 years
          experience in the aftermarket powersports industry, Zbroz Racing offers industry leading High Performance Suspension Products.
        </p>
        <p class="lg:max-w-lg">
          We are the original innovators in Lightweight, Heavy Duty and Maximum Ground Clearance suspension parts for Snowmobiles, ATV's and
          UTV's. Followed up with race inspired and unmatched lineup of EXIT Shocks. Take your riding adventures to the next level.
        </p>
      </div>
    </div>
    <div class="h-[700px] mt-10 md:mt-20 bg-black relative grid grid-cols-1 md:grid-cols-2 p-10">
      <div class="text-white flex flex-col gap-10">
        <div>
          <p>ZBROZ Racing</p>
          <p>700 West 1700 South Bldg 29</p>
          <p>Suite 102 Logan, UT 84321</p>
        </div>
        <div>
          <p>Email</p>
          <a href="mailto:sales@ZbrozRacing.com" class="text-sm">sales@ZbrozRacing.com</a>
        </div>
        <div>
          <p>Phone</p>
          <a href="tel:+14357537774">435-753-7774</a>
        </div>
        <div>
          <p>Customer Service Hours</p>
          <p class="text-sm">8 AM to 4 PM MST</p>
        </div>
      </div>
      <div
        style="width:100%;height:500px;"
        data-fillout-id="aFZGyAmdKhus"
        data-fillout-embed-type="standard"
        data-fillout-inherit-parameters
        data-fillout-dynamic-resize
        data-fillout-domain="form.lpt4.me"
      ></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
      <img
        src="{{ 'built-for-racers1.jpg' | asset_url }}"
        alt="Built for Racers"
        class="object-cover w-full md:h-[500px] h-[300px] lg:col-span-2"
      >
      <img src="{{ 'zbroz6.png' | asset_url }}" alt="Built for Racers" class="object-cover w-full md:h-[500px] h-[300px]">
    </div>
  </div>
</div>
<script src="https://server.fillout.com/embed/v1/"></script>
